*{
  box-sizing: border-box;
  font-size: 100%;
}

body {
  padding : 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.compass{
  position: absolute;
  top: 10%;
  right: 0.1%;
  background: none;
  border: none;
  z-index: 10;
  height: 55px;
  width: 55px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.6));
  outline: none;
}

.compass :hover {
  transition: 0.8s;
  transform: rotate(720deg);
}

.searchBox{
  width: 30%;
  min-width: 150px;
  z-index: 10;
  position: absolute;
  top: 3%;
	left: 0;
	right: 0;
  margin: auto;
}

.inputBox{
  padding: 10px;
  width: 100%;
  box-shadow: 0px 8px 20px rgb(138, 137, 137);
  border : none;
  border-radius: .3rem;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  border-bottom: .3rem solid transparent;
  display: block;
  transition: all .3s; 
}

.inputBox:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.4rem solid rgba(245, 186, 19, 0.8); 
}
.inputBox::-webkit-input-placeholder {
  color: #999; 
}

.suggestions{
  padding: 10px 5px 10px 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.infowindow-content{
  margin: 0px;
  width: 200px;
  min-width: 130px;
}

.infowindow-content p{
  width: 76%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infowindow-content button:hover{
  color: #f5ba13;
} 

.addressContainer{
  z-index: 10;
  position: absolute;
  left: 1%;
  top: 12%;
  overflow: hidden; 
  overflow-y: scroll;
  width: 32%;
  min-width: 300px;
  height: auto;
  max-height: 47%;
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.1);
}

.addressBox{
  background: rgba(238, 238, 238, 0.9);
  border-radius: 2px;
  width: 90%;
  margin: 15px;
  display: flex;
  outline: none;
  box-shadow: 0.8rem 1.2rem 1.4rem rgba(0, 0, 0, 0.16);
  border-left: 0.4rem solid rgba(245, 186, 19, 0.8);
}

.d1{
  width: 90%;
  padding-left: 6%;
  float: left;
}

.d2{
  width: 15%;
  padding-right: 10%;
  float: right;
}

.addressBox p{
  font-size: 14px;
}

.addressBox button:hover{
  color: #f5ba13;
}

.directions-choose-box{
  position: absolute;
  z-index: 10;
  bottom: 2%;
  right: 4.5%;
  background: rgba(238, 238, 238, 0.9);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  width: 30%;
  min-width: 330px;
  margin: 15px;
  outline: none;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 5px;
  padding-left: 10px;
}

.directions-choose-box p{
  text-align: center;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.travBtn{
  padding: 10px;
  margin : 0px 10px 5px 5px;
  border:none;
  transition: 0.5s;
}

.remove-direction{
  padding: 10px 18px;
  background: linear-gradient(to right, rgba(238, 238, 238, 0.9) 50%, rgba(0, 0, 0, 0.2) 100%);
  background-size: 500%;
}

.remove-direction:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 0.8s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100%;
  }
}

.travBtn:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.directions-para{
  text-align: left !important;
  padding-left: 20px;
}

::-webkit-scrollbar{
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-thumb{
  transition: background 1s ease-in-out;
  background: rgba(245, 186, 19, 0.8);
}

.route-box{
  position: absolute;
  bottom: 3.5%;
  left: 2%;
  z-index: 10;
  background: rgba(238, 238, 238, 0.9);
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  outline: none;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 4px;
  width: 33%;
  min-width: 300px;
}

.route-box p{
  margin: 10px;
}

.route-box button{
  margin: 8px;
  margin-top: 8px;
  border:none;
  transition: 0.5s;
  font-family: 'Montserrat', sans-serif;
  height: 35px;
  border-radius: 8px;
  padding: 8px ;
}

.route-box button:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.scroll-list{
  height: 110px;
  width: 95%;
  overflow: hidden; 
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.route-points{
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 8px;
}

.route-list-div{
  font-size: 14.5px;
  padding: 0.21rem;
  overflow-x: scroll;
  white-space: nowrap;
  overflow: auto;
  margin-right: 15px;
  width: auto;
}

.route-list-div2{
  text-align: center;
  border-radius: 10px;
}

.distTime{
  font-size: 14.9px;
  margin-top: 5px;
  margin-left: 15px;
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}


.stepDirectionsBox{
  width: 33%;
  position: absolute;
  bottom: 3.5%;
  left: 2%;
  z-index: 10;
  background: rgba(238, 238, 238, 0.9);
  border-radius: 2px;
  padding: 8px;
  /* height: 210px; */
  height: auto;
  outline: none;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.stepDirectionsBox p{
  margin: 8px;
}

.stepDirectionsBox button{
  border:none;
  transition: 0.5s;
  padding: 8px;
  right: 10%;
}

.nxtDirec{
  position: absolute;
  top:92%;
  transform: translate(5%,-110%);
  left: 65%;
}

.nxtDirec button{
  font-family: 'Montserrat', sans-serif;
  font-size: 14.3px !important;
}

.stepDirectionsBox button:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.startEnd{
  margin: 8px;
  margin-bottom: 14px;
  margin-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14.5px;
  white-space: nowrap;
  overflow: auto;
  width: auto;
}


.dropbtn {
  background-color: rgba(52, 152, 219,0.05);
  font-family: 'Montserrat', sans-serif;
  padding: 8px 25px !important; 
  font-size: 16px;
  border: none;
  margin-bottom: 13px;
}

.dropup{
  position: relative;
  display: inline-block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
  color: #f1f1f1;
}

.dropup-content {
  display: block;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden; 
  overflow-y: scroll;
  width: 400px;
  height: auto;
  max-height: 335px;
}

.dropup-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content li p{
  font-size: 13px;
}

.dropup-content li td{
  font-size: 14.5px;
}

.dropup-content li:hover{
  background-color: #ddd
}

